body {
    --s: 20rem; /* control the size*/
    --c1: #116bb0;
    --c2: #ffffff;
    
    --_g: #0000 90deg,var(--c1) 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      var(--c2);
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
  }

.titulo{
    text-align: center;
    margin-top: 5%;
    
}

.titulo h1{
   color: #000000;
   font-size: 4rem;
  
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.foto{
    width: 20rem;
    margin-left: 5%;

    --c3: rgb(227, 228, 217);
    border: 1rem solid var(--c3); 
    border-bottom:  5rem solid var(--c3);
    border-radius: 1rem; /* Bordes redondeados (opcional) */
   /* padding: 10px; */
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 1); /* Sombra difuminada */
    
    
}

.contenedor {
    overflow: auto; /* Para asegurarse de que el contenedor contenga los elementos flotantes */
}

.aside{
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
    font-size: 1.5rem;
    background-color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}